.flex {
    margin-bottom:0; 
    display:flex; 
    flex-wrap:wrap;
}

.imagen-disp {
    display:flex; 
    align-items:center; 
    justify-content: center;
}

.mying{
    vertical-align: middle;
}

.myli{
    padding: 15px 0; 
    border-bottom: 1px solid #e0e0e0;
}

.mybuttons{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.buttonAdd {
    display:flex; 
    align-items:center; 
}

.boldName {
    font-weight: bold;
}
.color_del{
    color: red;
}
.color_edt{
    color: #0f56ff;
}
